

<section id="blog">
    <h2>Referanslarım</h2>
</section>
<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">İnsanlar Hakkımda Ne Dediler?</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">
             

            <div class="testimonials__slide">
                <img src="https://i.hizliresim.com/bhzcowx.jpg" alt="Author image" class="testimonials__avatar"/>
             
                <p style="font-size:18px; color:white; line-height:1.6;">
                    Serkan, yazılım öğrenme konusunda gösterdiği azim ve kararlılıkla dikkat çekiyor. Yeni konuları öğrenmek için sürekli araştırıyor ve kendini geliştiriyor. Bir işe başladığında sonuna kadar bırakmadan çalışması onun en güçlü yönlerinden biri.
                </p>
                <div class="testimonials__author h06" style="font-size:16px; color:#ff6600; font-weight:bold;">
                    Okan Akın
                    <span style="font-size:14px; color:#ff6600; font-weight:normal;">Back end Developer, Innclude</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="https://i.hizliresim.com/tdn6t04.jpg" alt="Author image" class="testimonials__avatar">
                <p style="font-size:18px; color:white; line-height:1.6;">
                    Bu yazıyı, uzun süredir birlikte çalıştığım ve eğitim hayatımı sürdürdüğüm Serkan Öztürk adına bir referans olarak yazıyorum. Kendisi yazılım sektöründe azimli, çalışkan ve sorumluluk sahibi bir yazılımcıdır.

                    Serkan, karşılaştığı zorluklar karşısında sorun değil çözüm odaklı yaklaşımı ve hızlı öğrenme kabiliyeti ile dikkat çekmektedir. Özellikle ekip çalışmasına hızlı uyum sağlaması, sıcak kanlı girişken bir birey oluşu ve takım içi iletişimdeki başarısı, projelerin verimli bir şekilde ilerlemesine büyük katkı sunacağına eminim.

                    Azmi, disiplinli çalışma anlayışı ve sürekli gelişime açık yapısıyla bulunduğu her iş ortamına değer katacağına gönülden inanıyorum.

                    Saygılarımla,


                <div class="testimonials__author h06" style="font-size:16px; color:#ff6600; font-weight:bold;">
                        Ahmet Turan Topul
                    <span style="font-size:14px; color:#ff6600; font-weight:normal;">Bursa Uludağ Üniversitesinden Arkadaşım</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="#" alt="Author image" class="testimonials__avatar">
                <p style="font-size:18px; color:white; line-height:1.6;">
                     Analitik düşünebilen ve araştırmayı seven bir kişidir. Yazılım alanında kendini geliştirme konusundaki isteği ve kararlılığı dikkat çekicidir. Karşılaştığı problemlere yaratıcı çözümler üretebilme becerisi, ekip çalışmalarında uyumlu ve sabırlı yaklaşımıyla birleşiyor. Öğrendiği bilgileri projelere yansıtarak değer üretmeyi hedefleyen vizyoner bir yazılımcı adayıdır


                    <div class="testimonials__author h06" style="font-size:16px; color:#ff6600; font-weight:bold;">
                        Edanur Atmaca
                        <span style="font-size:14px; color:#ff6600; font-weight:normal;">Front End Developer</span>
                    </div>
            </div>
            </div>

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div> <!-- end s-testimonials -->
