
<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfoliom</h3>
            <h1>Son projelerim</h1>

            <p class="lead">Bu bölümde, son dönemde üzerinde çalıştığım projeleri inceleyebilirsiniz.</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/p5sk3yh.JPG" class="thumb-link" title="Blog Sitesi" data-size="1050x700">
                            <img src="https://i.hizliresim.com/p5sk3yh.JPG" 
                                 srcset="https://i.hizliresim.com/p5sk3yh.JPG 1x, https://i.hizliresim.com/p5sk3yh.JPG 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            My portfölyö
                        </h3>
                        <p class="item-folio__cat">
                            Çift Panelli Dinamik Web Sitesi
                        </p>
                    </div>

                    <a href="https://github.com/Serkanoztur/Myportfolyo.git" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->


            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/pk28yxl.JPG" class="thumb-link" title="Blog Sitesi" data-size="1050x700">
                            <img src="https://i.hizliresim.com/pk28yxl.JPG"
                                 srcset="https://i.hizliresim.com/pk28yxl.JPG 1x, https://i.hizliresim.com/pk28yxl.JPG 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                          My portfölyö Admin Paneli
                        </h3>
                        <p class="item-folio__cat">
                           Çift Panelli Dinamik Web Sitesi Admin Paneli
                        </p>
                    </div>

                    <a href="#" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->
    
            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/lp9l5eh.png" class="thumb-link" title="Bikahveci" data-size="1050x700">
                            <img src="https://i.hizliresim.com/lp9l5eh.png"
                                 srcset="https://i.hizliresim.com/lp9l5eh.png 1x, https://i.hizliresim.com/lp9l5eh.png 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Bikahveci
                        </h3>
                        <p class="item-folio__cat">
                          Bikahveci Web Sitesi Tasarımı 
                        </p>
                    </div>

                    <a href="https://github.com/Serkanoztur/B-kahvecii-sitesi.git" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                 

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/69xv7ce.JPG" class="thumb-link" title="Öztürk İnşaat" data-size="1050x700">
                            <img src="https://i.hizliresim.com/69xv7ce.JPG"
                                 srcset="https://i.hizliresim.com/69xv7ce.JPG 1x, https://i.hizliresim.com/69xv7ce.JPG 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Öztürk İnşaat
                        </h3>
                        <p class="item-folio__cat">
                            Öztürk İnşaat Web Sitesi Tasarımı 
                        </p>
                    </div>

                    <a href="https://github.com/Serkanoztur/-zt-rkinsaatweb.git" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                 

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/ffggrbm.JPG" class="thumb-link" title="Login Page" data-size="1050x700">
                            <img src="https://i.hizliresim.com/ffggrbm.JPG"
                                 srcset="https://i.hizliresim.com/ffggrbm.JPG 1x, https://i.hizliresim.com/ffggrbm.JPG 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Login Page
                        </h3>
                        <p class="item-folio__cat">
                            Login Page Tasarımı
                        </p>
                    </div>

                    <a href="https://github.com/Serkanoztur/LoginPage.git" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

</section> <!-- end works -->
