<div class="col-six tab-full right">
    <h3>Programlama Dilleri & Yetenekleri.</h3>

    <ul class="skill-bars">
        <li>
            <div class="progress percent80"><span>80%</span></div>
            <strong>.NET CORE</strong>
        </li>
        <li>
            <div class="progress percent85"><span>85%</span></div>
            <strong>C#/C FORM</strong>
        </li>
        <li>
            <div class="progress percent70"><span>70%</span></div>
            <strong>SQL</strong>
        </li>
        <li>
            <div class="progress percent80"><span>80%</span></div>
            <strong>HTML</strong>
        </li>
        <li>
            <div class="progress percent75"><span>75%</span></div>
            <strong>CSS</strong>
        </li>
       
    </ul>
</div>
