
<head>
    
        <!-- Google Fonts Poppins -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

        <style>
            /* Sitenin tamamı Poppins fontu kullanacak */
            html, body {
                font-family: 'Poppins', sans-serif;
                margin: 0;
                padding: 0;
            }
        </style>
    

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>SERKAN ÖZTÜRK PORTFOLİO</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/hola-master/css/base.css">
    <link rel="stylesheet" href="~/hola-master/css/vendor.css">
    <link rel="stylesheet" href="~/hola-master/css/main.css">

    <!-- script
    ================================================== -->
    <script src="~/hola-master/js/modernizr.js"></script>
    <script src="~/hola-master/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="~/hola-master/images/favicos.ico type="image/x-icon">
    <link rel="icon" href="~/hola-master/images/favicos.ico" type="image/x-icon">

    

</head>